*.jpg
*.pdf
*.txt
*.csv
*.docx
*.zip
*.html
global.r
methods.r
plots.r
server.r
shiny.r
ui.r
www
KONZO_to_EV_group
Visualization
.Rhistory
.DS_Store
EVKonzo_metadata.csv
PS_read_counts.csv
!.gitignore
